<% if request.fullpath[1..9].downcase == "decision7" %>
  <%= link_to 'Back', "/decision7/requests", {:style=>'text-align:center; margin-top:2rem;', :class => "button"} %>
<% else %>
  <%= link_to 'Back', "/ignitetek/requests", {:style=>'text-align:center; margin-top:2rem;', :class => "button"} %>
<% end %>
<% if admin_signed_in? %>
  | <%= link_to 'Edit', edit_request_path(@request), {:style=>'text-align:center; margin-top:2rem;', :class => "button"} %>
  | <%= link_to 'Destroy', @request, { method: :delete, :style=>'text-align:center; margin-top:2rem;', :class => "button", data: { confirm: 'Are you sure?' }} %>
<% end %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="eight columns">
    <h3><%= @request.title %></h3>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <p>
      <strong><u>Request ID:</u></strong>
      <%= @request.id %>
    </p>
  </div>
  <div class="twelve columns">
    <p>
      <strong><u>Status:</u></strong>
      <%= @request.status %>
    </p>
  </div>
  <div class="twelve columns">
    <p>
      <strong><u>Priority:</u></strong>
      <%= @request.priority %>
    </p>
  </div>
  <div class="twelve columns">
    <p>
      <strong><u>Push Date:</u></strong>
      <%= @request.push_date %>
    </p>
  </div>
  <div class="twelve columns">
    <p>
      <strong><u>Org:</u></strong>
      <%= @request.org %>
    </p>
  </div>
  <div class="twelve columns">
    <p>
      <strong><u>Requestor:</u></strong>
      <%= @request.requestor %>
    </p>
  </div>
  <div class="twelve columns">
    <p>
      <strong><u>Email(s):</u></strong>
      <%= @request.email %>
    </p>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <p>
      <strong><u>Category:</u></strong>
      <%= @request.category %>
    </p>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <p>
      <strong><u>Details:</u></strong>
      <%= @request.details %>
    </p>
  </div>
</div>
<% if @request.images.exists? %>
  <div class="row">
    <div class="twelve columns">
      <div class="image-row">
          <div class="image-set">
            <p><strong><u>Images:</u></strong></p>
            <% @request.images.each do |image| %>
                <a class="without-caption image-link" data-lightbox="image-1" rel="shadowbox" href="<%=image.image.url %>" title=""><%= image_tag image.image.url(:med) %></a>
            <% end %>  
          </div>
      </div>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="twelve columns">
    <h3><u>Comments</u></h3>
    <% @comments.each do |comment| %>
      <div class="row">
        <a name="comment<%= comment.id %>"></a>
        <strong><u><%= comment.user_name %></u></strong> 
        <i class="comment-date"><%= time_ago_in_words(comment.created_at) + " Ago" %></i>
        <% if comment.images.exists? %>
          <div class="row">
            <div class="twelve columns">
              <div class="image-row">
                  <div class="image-set">
                    <p><strong><u>Images:</u></strong></p>
                    <% comment.images.each do |image| %>
                        <a class="without-caption image-link" data-lightbox="image-1" rel="shadowbox" href="<%=image.image.url %>" title=""><%= image_tag image.image.url(:med) %></a>
                    <% end %>  
                  </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="row">
        <br/>
        <p><%= comment.body %></p>
        <% if admin_signed_in? %>
          <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="twelve columns">
    <div class="button comments-button">Add Comments</div>
    <div class="six columns comments-form">
      <%= render 'comments/form' %>
    </div>
  </div>
</div>

