<div class="row">
  <div class="twelve columns">
    <div class="five columns offset-by-four">
      <h1>Support Tickets</h1>
    </div>
  </div>
  <ul class="row tabs">
    <% if request.fullpath[1..9].downcase == "decision7" %>
      <li class="two columns" id="tab1"><%= link_to 'All', "/decision7/tickets", {:style=>'text-align:center; margin-top: 20px;'} %></li>
    <% else %>
      <li class="two columns" id="tab1"><%= link_to 'All', "/ignitetek/tickets", {:style=>'text-align:center; margin-top: 20px;'} %></li>
    <% end %>
    <li class="two columns" id="tab2"><%= link_to 'Open', {:status => "open"}, {:style=>'text-align:center; margin-top: 20px;'} %></li>
    <li class="two columns" id="tab3"><%= link_to 'Completed', {:status => "completed"}, {:style=>'text-align:center; margin-top: 20px;'} %></li>
    <li class="two columns" id="tab4"><%= link_to 'Monitoring', {:status => "monitoring"}, {:style=>'text-align:center; margin-top: 20px;'} %></li>
    <div class="three columns">
      <div class="field search">
        <%= text_field :search, '' %>
      </div>
    </div>
    <li class="one column search"><%= link_to 'Search', '', {:style=>'padding: 0px; text-align:center; margin-left: -3rem;', :class => "button", :id => "bugsearch"} %></li>
  </ul>
  <div class="twelve columns tab-content">
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Status</th>
          <th>Date Reported</th>
          <th>Category</th>
          <th colspan="2">Title</th>
          <th>Push Date</th>
          <th colspan="2">Reporter</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @bugs.each do |bug| %>
          <tr>
            <td><%= bug.status %></td>
            <td><%= bug.created_at  %></td>
            <td><%= bug.category %></td>
            <td colspan="2"><%= bug.title %></td>
            <td><%= bug.push_date %></td>
            <td colspan="2"><%= bug.reporter %></td>
            <% if request.fullpath[1..9].downcase == "decision7" %>
              <td class="table-button"><%= link_to 'Show', "/decision7/tickets/#{bug.id}", {:style=>'text-align:center; margin-top:1rem; margin-left: -1rem;', :class => "button"} %></td>
            <% else %>
              <td class="table-button"><%= link_to 'Show', "/ignitetek/tickets/#{bug.id}", {:style=>'text-align:center; margin-top:1rem; margin-left: -1rem;', :class => "button"} %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <br>
  <div class="three columns offset-by-five"><%= paginate @bugs %></div>
  </div>
</div>


