<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/assets/application-0898c128b5a4a74270991c9832c8749d.css">
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>
  <div class="container">
  	<%= yield %>
  </div>
  <script type="text/javascript" src="/assets/application-73763660c2a072c37b809444063b1ea8.js"></script>
</body>
</html>
