<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/assets/application-0898c128b5a4a74270991c9832c8749d.css">
  <script type="text/javascript" src="/assets/application-73763660c2a072c37b809444063b1ea8.js"></script>
  <script src="http://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <script>
  $(function() {
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }
 
    $( ".search-field" )
      // don't navigate away from the field on tab when selecting an item
      .bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        source: function( request, response ) {
          $.getJSON( "/email_suggestions", {
            term: extractLast( request.term )
          }, response );
        },
        search: function() {
          // custom minLength
          var term = extractLast( this.value );
          if ( term.length < 1 ) {
            return false;
          }
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });
  });
  </script>
</head>
<body class="<%= body_class %>">
  <div class="twelve columns nav">
    <% if request.path == "/decision7/requests" || request.path == "/ignitetek/requests" %>
      <div class="one column offset-by-one">
        <%= link_to 'New request', request.path + '/new', {:style=>'text-align:center; margin-top:1rem;', :class => "button"} %>
      </div>
      <div class="one column offset-by-two">
        <% if request.path == "/decision7/requests" %>
          <%= link_to 'Support Tickets', '/decision7/tickets', {:style=>'text-align:center; margin-top: 1rem;', :class => "button"} %>
        <% else %>
          <%= link_to 'Support Tickets', '/ignitetek/tickets', {:style=>'text-align:center; margin-top: 1rem;', :class => "button"} %>
        <% end %>
      </div>
      <div class="one column offset-by-five">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, :style=>'text-align:center; margin-top:1rem;', :class => "button", :method => :delete %>
        <% elsif admin_signed_in? %>
          <%= link_to "Sign out", destroy_admin_session_path, :style=>'text-align:center; margin-top:1rem;', :class => "button", :method => :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, {:style=>'text-align:center; margin-top:1rem;', :class => "button"} %>
        <% end %>
      </div>
    <% elsif request.path == "/decision7/tickets" || request.path == "/ignitetek/tickets" %>
      <div class="one column offset-by-one">
        <%= link_to 'New Ticket', request.path + '/new', {:style=>'text-align:center; margin-top:1rem;', :class => "button"} %>
      </div>
      <div class="one column offset-by-two">
        <% if request.path == "/decision7/tickets" %>
          <%= link_to 'View Requests', '/decision7/requests', {:style=>'text-align:center; margin-top:1rem;', :class => "button"} %>
        <% else %>
          <%= link_to 'View Requests', '/ignitetek/requests', {:style=>'text-align:center; margin-top:1rem;', :class => "button"} %>
        <% end %>
      </div>
      <div class="one column offset-by-five">
        <% if user_signed_in? %>
          <%= link_to "Sign out", destroy_user_session_path, :style=>'text-align:center; margin-top:1rem;', :class => "button", :method => :delete %>
        <% elsif admin_signed_in? %>
          <%= link_to "Sign out", destroy_admin_session_path, :style=>'text-align:center; margin-top:1rem;', :class => "button", :method => :delete %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, {:style=>'text-align:center; margin-top:1rem;', :class => "button"} %>
        <% end %>
        </div>
      <% else %>
        <div class="one column offset-by-nine">
          <% if user_signed_in? %>
            <%= link_to "Sign out", destroy_user_session_path, :style=>'text-align:center; margin-top:1rem;', :class => "button", :method => :delete %>
          <% elsif admin_signed_in? %>
            <%= link_to "Sign out", destroy_admin_session_path, :style=>'text-align:center; margin-top:1rem;', :class => "button", :method => :delete %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path, {:style=>'text-align:center; margin-top:1rem;', :class => "button"} %>
          <% end %>
        </div>
      <% end %>
    </div>
  <div class="container">
    <%= render "flashes" -%>
  	<%= yield %>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
    $(window).scroll(function() {
      var menuPosition = $('.nav').offset().top;
      var windowPosition = $(document).scrollTop();
      var contentPosition = $('.container').offset().top; 
      console.log("You are causing a jump");
       if ( menuPosition <= contentPosition ) {
         $(".nav").show();
         $("h1").show();
       } else {
         $(".nav").hide();
         $("h1").hide();
       } 
    });
  });
  </script>
</body>
</html>
